{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

    <h1>{{ page.title }}</h1>
    {{ page.body | richtext }}

{% endblock content %}

{% for blog_page in page.get_children %}
    <h3><a href="{% pageurl blog_page %}">{{ blog_page.title }}</a></h3>
    {{ blog_page.specific.body | richtext }}
{% endfor %}
